.block {
  width: 100%;
  padding: 10px;
  background-color: #3f51b5;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.container {
  display: flex;
  justify-content: space-between;
}
.containerRevers {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.containerContent,
.containerImg {
  width: 50%;
  padding: 10px;
}
.containerImg img {
  width: 100%;
  display: block;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.containerContent p,
.containerContent h2 {
  margin: 0;
}
